@font-face {
    font-family: "zzz"; /*a name to be used later*/
    src: url("AbitareSans-300.ttf"); /*URL to font*/
  }

#reset,
* {
  margin: 0;
  padding: 0;
}

body {
    background-color: black;
}

@media all and (orientation: portrait) {
    .reference {
        display: none;
    }
  }
  
  @media all and (orientation: landscape) {
    .site {
        display: flex;
        flex-direction: row;
    }

    .reference {
        height: 100vh;
    }
  }

.site {
    height: 100vh;
    position: absolute;
    width: 100vw;
    max-width: calc(113 / 216 * 100vh);
}

.fuck {
  position: absolute;
}

.ad {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 900;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.ad-close-button {
  height: 24px;
  width: 24px;
  display: flex;
}

.ad-close-button-component {
  height: 24px;
  width: 24px;
  background: none;
  color: white;
  font-size: 24px;
}

.screen {
  height: 100vh;
  width: 100%;
  max-width: calc(113 / 216 * 100vh);
  border: 1px solid black;
  position: absolute;
}

/* ----------------------------- */

.main {
    height: 100vh;
}

.overflow {
  position: relative;
  display: flex;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  max-width: calc(113 / 216 * 100vh);
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

h1 {
    font-family: "zzz";
    color: white;
}

.timer {
    font-size: 29px;
}

.options {
  position: absolute;
  z-index: 155;
  height: 10vh;
  width: 10vw;
}